    <section>
        <br>
        <br>
        <br>       
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <div class="container">
            <div class="item">
                <img src="Imagenes/Foto49.png" alt="" class="item-img">
                <h3>Pechugas cordon bleu</h3>
                <br>
                <div class="btn">
                <a href="Contacto.hbs">Contactanos</a>
                </div>
            </div>
    
            <div class="item">
                <img src="Imagenes/Foto50.jpg" alt="" class="item-img">
                <h3>Falafel o Croqueta de garbanzo</h3>
                <br>
                <div class="btn">
                <a href="Contacto.hbs">Contactanos</a>
                </div>
            </div>
    
            <div class="item">
                <img src="Imagenes/Foto51.jpg" alt="" class="item-img">
                <h3>Espaguetis con Salsa Roja</h3>
                <br>
                <div class="btn">
                <a href="Contacto.hbs">Contactanos</a>
                </div>
            </div>
    
         <div class="item">
                <img src="Imagenes/Foto52.jpg" alt="" class="item-img">
                <h3>Salmon a la Plancha</h3>
                <br>
                <div class="btn">
                <a href="Contacto.hbs">Contactanos</a>
                </div>
            </div>
    
            <div class="item">
                <img src="Imagenes/Foto53.jfif" alt="" class="item-img">
                <h3>Pizza Vegetariana</h3>
                <br>
                <div class="btn">
                <a href="Contacto.hbs">Contactanos</a>
                </div>
            </div>
    
            <div class="item">
                <img src="Imagenes/Foto54.jfif" alt="" class="item-img">
                <h3>Tacos</h3>
                <br>
                <div class="btn">
                <a href="Contacto.hbs">Contactanos</a>
                </div>
            </div>
    
            <div class="item">
                <img src="Imagenes/Foto55.jpg" alt="" class="item-img">
                <h3>Enchiladas</h3>
                <br>
                <div class="btn">
                <a href="Contacto.hbs">Contactanos</a>
                </div>
            </div>
        
            <div class="item">
                <img src="Imagenes/Foto56.jpg" alt="" class="item-img">
                <h3>Pozole</h3>
                <br>
                <div class="btn">
                <a href="Contacto.hbs">Contactanos</a>
                </div>
            </div>
    
            <div class="item">
                <img src="Imagenes/Foto57.jpg" alt="" class="item-img">
                <h3>Quesadilla</h3>
                <br>
                <div class="btn">
                <a href="Contacto.hbs">Contactanos</a>
                </div>
            </div>
    
        <div class="item">
                <img src="Imagenes/Foto58.jpg" alt="" class="item-img">
                <h3>Totopos</h3>
                <br>
                <div class="btn">
                <a href="Contacto.hbs">Contactanos</a>
                </div>
            </div>
    
            <div class="item">
                <img src="Imagenes/Foto59.jpg" alt="" class="item-img">
                <h3>Bebidas</h3>
                <br>
                <div class="btn">
                <a href="Contacto.hbs">Contactanos</a>
                </div>
            </div>
    
            <div class="item">
                <img src="Imagenes/Foto60.jpg" alt="" class="item-img">
                <h3>Ensalada César</h3>
                <br>
                <div class="btn">
                <a href="Contacto.hbs">Contactanos</a>
                </div>
            </div>
    
        <div class="item">
                <img src="Imagenes/Foto61.jpg" alt="" class="item-img">
                <h3>Cochinita Pibil</h3>
                <br>
                <div class="btn">
                <a href="Contacto.hbs">Contactanos</a>
                </div>
            </div>
    
            <div class="item">
                <img src="Imagenes/Foto62.jpg" alt="" class="item-img">
                <h3>Flan de Queso Cremoso</h3>
                <br>
                <div class="btn">
                <a href="Contacto.hbs">Contactanos</a>
                </div>
            </div>
    
            <div class="item">
                <img src="Imagenes/Foto63.jpg" alt="" class="item-img">
                <h3>Pasta a la Carbonara</h3>
                <br>
                <div class="btn">
                <a href="Contacto.hbs">Contactanos</a>
                </div>
            </div>
        </div>
</section>
 <script src="JS/app.js"></script>
