    <footer class="Footercontenido">
    <div class="Footer2">
        <div class="Footersmall">
            <small>Deluxury  Place © 2020- 2021</small>
        </div>
        <div class="Enlaces">
            <a href="https://www.facebook.com/" target="_blank"><img src="Imagenes/Facebook.ico" alt="" ></a>
            <a href="https://twitter.com/" target="_blank"><img src="Imagenes/Twitter.ico" alt=""></a>
            <a href="https://es.linkedin.com/" target="_blank"><img src="Imagenes/Linkin.ico" alt=""></a>
            <a href="https://www.instagram.com/" target="_blank"><img src="Imagenes/Instagram.ico" alt=""></a>
        </div>
    </div> 
    </footer>
