<header class="Headercontenido">
        <img src="Imagenes/LOGO4.png" alt="" class="Logo">
        <ul class="Botones">
            <li><a href="/">Inicio</a></li>
            <li><a href="/Nosotros">Nosotros</a></li>
            <li><a href="/Servicios">Servicios</a></li>
            <li><a href="/GaleriadeFotos">Galeria de Fotos</a></li>
            <li><a href="/contacto">Contactos</a></li>
            <li><a href="">Mas</a>
                <ul class="submenu">
                    <li><a href="/Video">Videos</a></li>
                </ul>
            </li>
        </ul>
    </header>