<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css%22%3E">
    <link rel="shortcut icon" href="Imagenes/LOGO4.png" type="image/x-icon">
    <link rel="stylesheet" href="CSS/style.css">
</head>
<body>
    <section class="Banner" id="Banner">
        <div class="contenedor">
            <h2>Deluxury Place</h2>
            <p>Compra tu auto nuevo y de calidad con 6 meses de garantia.</p>
            <a href="Nosotros.html" class="btn1">Learn More</a>
        </div>
    </section>
    <section class="Home1">
        <div class="Home2">
            <br>
            <br>
            <h4 class="h4home1">¡Descubre tu auto ideal con nosotros!</h4>
            <p class="Experiencia">Vive la experiencia con nosotros de tener un nuevo vehiculo.</p>
        </div>
        <br>
        <br>
        <div class="Empezar">
            <a href="Servicios.html" class="btnEmpezar">Empezar</a>
        </div>
        <br>
        <div id="slideshow-principal">
            <div id="progresoslide">
                <div id="barraslide"></div>
            </div>
            <div id="slideshow">
                <img src="" alt="" id="img1">
                <img src="" alt="" id="img2">
            </div>
            <div id="contenedor">

            </div>
        </div>
    </section>
    
    <script src="JS/app.js"></script>
</body>
</html>