<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css%22%3E">
    <title>Nosotros</title>
    <link rel="shortcut icon" href="Imagenes/LOGO4.png" type="image/x-icon">
    <link rel="stylesheet" href="CSS/Nosotros.css">
</head>
<body>
    <section class="QuienesSomos">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <div class="QuienesSomos2">
            <div class="QuienesSomos3">
                <h4 class="titulo"> ¿Quienes Somos?</h2>
                    <br>
                    <br>
                <p>Somos una empresa de autos de lujos, nuestro clientes siempre quedan satisfechos por los servicios que le ofrecemos y por nuestros excelente personal de trabajo que están siempre atentos a los clientes que nos visitan, también tenemos un restaurante que es donde pueden disgustar de nuestra excelente comida que le preparamos.</p>
            </div>
            <div class="QuiensSomos3">
                <div class="imgBx">
                    <img src="Imagenes/Foto13.jpg" alt="" class="img1">
                </div>
            </div>
        </div>
    </section>
    <section class="VisionMision">
        <div>
            <h4 class="Vision">Visión y Misión</h4>
            <br>
            <br>
            <div class="Vision01">
                <h5 class="Vision1">Visión</h5>
                <br>
                <p class="Vision2">Nuestra visión es ser una empresa que sea<br>
                lider en el tema de comercialización de <br> 
                   autos y ser una empresa donde podamos <br>
                    satisfacer las necesidades del cliente y sus <br>
                    expectativas sobre nosotros.</p>
            </div>
        </div>
        <div class="Mision01">
            <h5 class="Mision1">Misión</h5>
            <br>
            <p class="Mision2">Satisfacer las necesidades y las <br> 
                expectativas de nuestros clientes para ser la <br>
                mejor empresa de ventas y servicios del <br>
                sector automotriz.</p>
        </div>
    </section>
    <section class="portafolio">
        <div class="contenedor">
            <br>
            <br>
            <br>
            <h2 id="Valores">Valores</h2>
            <div class="galeria-port">
                <div class="imagen-port">
                    <img src="Imagenes/Valor1.jpeg" alt="">
                    <div class="hover-galeria">
                        <p>Confort</p>
                    </div>
                </div>
                <div class="imagen-port">
                    <img src="Imagenes/Valor2.jpeg" alt="">
                    <div class="hover-galeria">
                        <p>Puntualidad</p>
                    </div>
                </div>
                <div class="imagen-port">
                    <img src="Imagenes/Valor3.jfif" alt="">
                    <div class="hover-galeria">
                        <p>Pasion</p>
                    </div>
                </div>
                <div class="imagen-port">
                    <img src="Imagenes/Valor4.jfif" alt="">
                    <div class="hover-galeria">
                        <p>Trabajo en equipo</p>
                    </div>
                </div>
                <div class="imagen-port">
                    <img src="Imagenes/Valor5.jpeg" alt="">
                    <div class="hover-galeria">
                        <p>Calidad</p>
                    </div>
                </div>
                <div class="imagen-port">
                    <img src="Imagenes/Valor6.jfif" alt="">
                    <div class="hover-galeria">
                        <p>Honestidad</p>
                    </div>
                </div>
                <div class="imagen-port">
                    <img src="Imagenes/Foto10.jpg" alt="">
                    <div class="hover-galeria">
                        <p>Transparencia</p>
                    </div>
                </div>
                <div class="imagen-port">
                    <img src="Imagenes/Foto14.jpg" alt="">
                    <div class="hover-galeria">
                        <p>Constacia</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <div id="button-up">
        <i class="fas fa-chevron-up" ></i>
     </div>
    <script src="JS/app.js"></script>
    <script src="https://kit.fontawesome.com/41bcea2ae3.js" crossorigin="anonymous"></script>
</body>
</html>