<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Servicios</title>
    <link rel="shortcut icon" href="Imagenes/LOGO4.png" type="image/x-icon">
    <link rel="stylesheet" href="CSS/Servicios.css">
</head>
<body>
    <section class="Servicios1" id="Servicios1">
    <br>
    <br>
    <br>       
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div>
        <div class="Titulo">
            <h4 class="Servicios">Servicios</h4>
        </div>
        <div class="content">
            <div class="box">
                <div class="imgBx">
                    <img src="Imagenes/Foto14.jpg" alt="">
                </div>
                <div class="text">
                    <h6>Restaurante</h6>
                    <br>
                    <br>
                    <br>
                    <a href="ServiciosRestaurante.html">Learn More</a>
                </div>
            </div>
            <div class="box">
                <div class="imgBx">
                    <img src="Imagenes/Foto9.jpg" alt="">
                </div>
                <div class="text">
                    <h6>Autos</h6>
                    <br>
                    <br>
                    <br>
                    <a href="ServiciosAutos.html">Learn More</a>
                </div>
            </div>
        </div>
</section>
<br>
<br>
</body>
</html>